<div class="container container-main">
  <% posts.forEach(post => { %>
    <article class="index-post-container">
      <a href="/blog/<%= post.id %>">
       <div class="image post-preview" style="background-image: url('<%- post.image %>')"></div>
      </a>
      <div class="media-content">

        <div class="content">
          <p class="title is-3"><a href="/blog/<%= post.id %>"><%= post.title %></a></p>
          <p class=""><%= post.subtitle %></p>
          <div class="level-left read-more">
            <a href="/blog/<%= post.id %>" class="level-item">
              <span>Read more...</span>
             </a>
          </div>
        </div>
      </div>
    </article>
  <% }) %>
</div>
