<div class="container container-main">
  <form method="POST" action="/recipes/<%= recipe.id %>">
    <input type="hidden" name="_method" value="PUT">
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input class="input" name="name" type="text" placeholder="Name" value="<%= recipe.name %>">
      </div>
    </div>
    <div class="field">
      <label class="label">Description</label>
      <div class="control">
        <input class="input" name="description" type="text" placeholder="Description" value="<%= recipe.description %>">
      </div>
    </div>
    <div class="main-ing ">
      <label class="label">Ingredients</label>
      <% recipe.ingredients.forEach(ingredient => { %>
      <div class="ingredient field repeater ">

          <div class="form-ing">
          <label>Quantity</label>
          <input class="input is-primary" type="text" name="ingredients[0][qty]" value="<%= ingredient.qty %>">
          </div>

          <div class="form-qty">
          <label>Ingredients</label>
          <select class="input is-primary " name="ingredients[0][name]" value="<%= ingredient.name %>" required>
          <% ingredients.forEach(ingredient => { %>
            <option><%= ingredient %></option>
            <% }); %>
            </select>
            </div>
          </div>
          <% }); %>
        </div>
        <button class="button is-primary addIng"n type="button" name="button">Add Ingredient</button>


        <div class="field">
          <label class="label">Image</label>
          <div class="control">
            <input class="input" name="image" type="text" placeholder="Image" value="<%= recipe.image %>">
          </div>
        </div>
        <div class="field">
          <label class="label">Preparation</label>
          <div class="control">
            <textarea class="repeate textarea" name="preparation" rows="2" placeholder="Preparation"><%= recipe.preparation %></textarea>
          </div>
        </div>
        <div class="control">
          <button class="button is-primary">Submit</button>
        </div>
      </form>
    </div>
