
<div class="container container-main">
  <div class="recipe-title" ><p><%= recipe.name %></p></div>
    <section class="img-container index-hero hero is-medium is-primary is-bold" style="background-image: url('<%= recipe.image %>')">
    </section>
    <div class="description">
      <nav class="level is-mobile">
        <div class="level-item has-text-centered  ">
          <div>
            <p class="heading">Comments</p>
            <p class="title is-5"><%= recipe.comments.length %></p>
          </div>
        </div>
        <div class="level-item has-text-centered">

            <% if(locals.isAuthenticated && recipe.user && recipe.user.id === locals.currentUser.id){ %>
              <span>Hey <%= locals.currentUser.firstname  %></span><img class="user-pic" src="<%= locals.currentUser.image %>"><span class="mome-msg">Your are the author of this post</span>
              <% if(locals.isAuthenticated && recipe.user && recipe.user.id === locals.currentUser.id){ %>
                <form class="show-controlers" method="POST" action="/recipes/<%= recipe.id %>">
                  <input type="hidden" name="_method" value="DELETE">

                  <a class="ing button is-primary" href="/recipes/<%= recipe.id %>/edit">Edit</a>
                  <button class="ing button is-danger">Delete</button>
                </form>
              <% } %>
          <% } else { %>
          <%- include ../partials/_share %>
          <% }  %>
        </div>
      </nav>
    </div>

    <div class="content">
      <div class="columns">
        <div class="column is-one-third">
          <% recipe.ingredients.forEach(ingredient => { %>
            <div class="columns ing-box">
              <div class="column ">
                <%= ingredient.name %>:
              </div>
              <div class="column is-one-third">
                <span class="is-pulled-right"><%= ingredient.qty %></span>
              </div>
            </div>
          <% }); %>
        </div>

        <div class="column is-pulled-right">
          <p class="is-pulled-left heading-recipe">Description:</p><br><br>
          <p class="description-body"><%= recipe.description %></p>
            <div class="is-pulled-left">
              <p class="is-pulled-left heading-recipe">Preparation:</p>
              <p class="is-pulled-left preparation-body"><%= recipe.preparation %></p>
            </div>
          </div>
        </div>
      </div>

      <div>
        <%- include ../partials/_recipe-com %>
      </div>
    </div>
  </div>
</div>
